Notes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--Checks for Root Node as note-->
	<xs:element name="Note">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="to" type="xs:string"/>
				<xs:element name="from" type="xs:string"/>
				<xs:element name="subject" type="xs:string"/>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="priority" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>